
.Services{
	display: flex;
	flex-direction: column;
	padding-top: 5vh;
	padding-bottom: 5vh;
	height: 80vh;
	max-height: fit-content;
}


h2{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	height: 10vh;
	color: white;
	background-color: #0505058e;
}



.Services .Container{
	height: 70vh;
}

.Services .Container .Wrapper{
	display: flex;
	flex-direction: row;
	gap: 4vw;
	justify-content: space-between;
	align-items: center;
	height: 70vh;
	padding: 0vh 4vw 0vh 4vw;
}

.Services .Container .Wrapper .HomeCleaning{
	width: 20vw;
	height:  60vh;
	display: flex;
	padding-top: 2.5vh;
	padding-bottom: 2.5vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.Services .Container .Wrapper .HomeCleaning .Main{
	display: flex;
	flex-direction: column;
	height: 40vh;
	width: 20vw;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}


.Services .Container .Wrapper .HomeCleaning .Main h4{
	background-color: rgba(20, 20, 197, 0.555);
	color: white;
	height: 10vh;
	width: 20vw;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	font-size: 20px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}


.Services .Container .Wrapper .HomeCleaning .Main .Image{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30vh;	
	width: 20vw;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	
}


	
.Services .Container .Wrapper .HomeCleaning .Texts{
	width: 20vw;
	height: 20vh;
	display: flex;
	flex-direction: column;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

	
.Services .Container .Wrapper .HomeCleaning .Texts p{
	background-color:rgba(20, 20, 197, 0.777);
	color: white;
	height: 20vh;
	width: 20vw;
	display: flex;
	align-items: center;
	padding: 1vw;
	font-weight: normal;
	font-size: 14px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}


/*Post Construction */
.Services .Container .Wrapper .PostConstruction{
	width: 20vw;
	height:  60vh;
	display: flex;
	padding-top: 2.5vh;
	padding-bottom: 2.5vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.Services .Container .Wrapper .PostConstruction .Main{
	display: flex;
	flex-direction: column;
	height: 40vh;
	width: 20vw;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}


.Services .Container .Wrapper .PostConstruction .Main h4{
	background-color: rgba(20, 20, 197, 0.555);
	color: white;
	height: 10vh;
	width: 20vw;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	font-size: 20px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}


.Services .Container .Wrapper .PostConstruction .Main .Image{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30vh;	
	width: 20vw;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	
}


	
.Services .Container .Wrapper .PostConstruction .Texts{
	width: 20vw;
	height: 20vh;
	display: flex;
	flex-direction: column;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

	
.Services .Container .Wrapper .PostConstruction .Texts p{
	background-color:rgba(20, 20, 197, 0.777);
	color: white;
	height: 20vh;
	width: 20vw;
	display: flex;
	align-items: center;
	padding: 1vw;
	font-weight: normal;
	font-size: 14px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}


/*OFFICE CLEANING*/
.Services .Container .Wrapper .OfficeCleaning{
	width: 20vw;
	height:  60vh;
	display: flex;
	padding-top: 2.5vh;
	padding-bottom: 2.5vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.Services .Container .Wrapper .OfficeCleaning .Main{
	display: flex;
	flex-direction: column;
	height: 40vh;
	width: 20vw;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}


.Services .Container .Wrapper .OfficeCleaning .Main h4{
	background-color: rgba(20, 20, 197, 0.555);
	color: white;
	height: 10vh;
	width: 20vw;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	font-size: 20px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}


.Services .Container .Wrapper .OfficeCleaning .Main .Image{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30vh;	
	width: 20vw;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	
}


	
.Services .Container .Wrapper .OfficeCleaning .Texts{
	width: 20vw;
	height: 20vh;
	display: flex;
	flex-direction: column;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

	
.Services .Container .Wrapper .OfficeCleaning .Texts p{
	background-color:rgba(20, 20, 197, 0.777);
	color: white;
	height: 20vh;
	width: 20vw;
	display: flex;
	align-items: center;
	padding: 1vw;
	font-weight: normal;
	font-size: 14px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}


/*MOVE IN */

.Services .Container .Wrapper .MoveIn{
	width: 20vw;
	height:  60vh;
	display: flex;
	padding-top: 2.5vh;
	padding-bottom: 2.5vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.Services .Container .Wrapper .MoveIn .Main{
	display: flex;
	flex-direction: column;
	height: 40vh;
	width: 20vw;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}


.Services .Container .Wrapper .MoveIn .Main h4{
	background-color: rgba(20, 20, 197, 0.555);
	color: white;
	height: 10vh;
	width: 20vw;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	font-size: 20px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}


.Services .Container .Wrapper .MoveIn .Main .Image{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30vh;	
	width: 20vw;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	
}


	
.Services .Container .Wrapper .MoveIn .Texts{
	width: 20vw;
	height: 20vh;
	display: flex;
	flex-direction: column;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

	
.Services .Container .Wrapper .MoveIn .Texts p{
	background-color:rgba(20, 20, 197, 0.777);
	color: white;
	height: 20vh;
	width: 20vw;
	display: flex;
	align-items: center;
	padding: 1vw;
	font-weight: normal;
	font-size: 14px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}








/*********MEDIA QUERY FOR TABLETS************/

@media(max-width: 1007px){
	
	.Services{
		display: flex;
		flex-direction: column;
		padding-top: 2vh;
		padding-bottom: 2vh;
		height: 350vh;
	}
	
	.Services h2{
		display: flex;
		
		font-size: 30px;
		height: 10vh;
		margin-bottom: 2vh;
		color: white;
	}
	
	.Services .Container{
		height: 280vh;
	}
	
	.Services .Container .Wrapper{
		display: flex;
		flex-direction: column;
		gap: 2vw;
		justify-content: space-between;
		align-items: center;
		height: 280vh;
		padding: 0vh 4vw 4vh 4vw;
	}
	
	.Services .Container .Wrapper .HomeCleaning{
		width: 75vw;
		height: 80vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}


	.Services .Container .Wrapper .HomeCleaning .Main{
		display: flex;
		flex-direction: column;
		height: 58vh;
		width: 75vw;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}

	.Services .Container .Wrapper .HomeCleaning .Main h4{
		background-color:rgba(20, 20, 197, 0.777);
		color: white;
		height: 13vh;
		width: 75vw;
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: bold;
		font-size: 16px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
	
	.Services .Container .Wrapper .HomeCleaning .Main .Image{
		display: flex;
		justify-content: center;
		align-items: center;
		height: 45vh;	
		width: 75vw;
		border-top-right-radius: 0px;
		border-top-left-radius: 0px;
		
	}
	
	
	
	.Services .Container .Wrapper .HomeCleaning .Texts{
		width: 75vw;
		height: 17vh;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}
	
	
	
	.Services .Container .Wrapper .HomeCleaning .Texts p{
		background-color:rgba(20, 20, 197, 0.447);
		color: white;
		height: 15vh;
		width: 75vw;
		display: flex;
		align-items: center;
		padding: 3vw;
		font-weight: normal;
		font-size: 14px;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}
	




	/*POST CONSTRUCTION */

	.Services .Container .Wrapper .PostConstruction{
		width: 75vw;
		height: 80vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}


	.Services .Container .Wrapper .PostConstruction .Main{
		display: flex;
		flex-direction: column;
		height: 58vh;
		width: 75vw;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}

	.Services .Container .Wrapper .PostConstruction .Main h4{
		background-color:rgba(20, 20, 197, 0.777);
		color: white;
		height: 13vh;
		width: 75vw;
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: bold;
		font-size: 16px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
	
	.Services .Container .Wrapper .PostConstruction .Main .Image{
		display: flex;
		justify-content: center;
		align-items: center;
		height: 45vh;	
		width: 75vw;
		border-top-right-radius: 0px;
		border-top-left-radius: 0px;
		
	}
	
	
	
	.Services .Container .Wrapper .PostConstruction .Texts{
		width: 75vw;
		height: 17vh;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}
	
	
	
	.Services .Container .Wrapper .PostConstruction .Texts p{
		background-color:rgba(20, 20, 197, 0.447);
		color: white;
		height: 15vh;
		width: 75vw;
		display: flex;
		align-items: center;
		padding: 3vw;
		font-weight: normal;
		font-size: 14px;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}
	
	


	
	/*OFFICE CLEANING */

	.Services .Container .Wrapper .OfficeCleaning{
		width: 75vw;
		height: 80vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}


	.Services .Container .Wrapper .OfficeCleaning .Main{
		display: flex;
		flex-direction: column;
		height: 58vh;
		width: 75vw;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}

	.Services .Container .Wrapper .OfficeCleaning .Main h4{
		background-color:rgba(20, 20, 197, 0.777);
		color: white;
		height: 13vh;
		width: 75vw;
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: bold;
		font-size: 16px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
	
	.Services .Container .Wrapper .OfficeCleaning .Main .Image{
		display: flex;
		justify-content: center;
		align-items: center;
		height: 45vh;	
		width: 75vw;
		border-top-right-radius: 0px;
		border-top-left-radius: 0px;
		
	}
	
	
	
	.Services .Container .Wrapper .OfficeCleaning .Texts{
		width: 75vw;
		height: 17vh;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}
	
	
	
	.Services .Container .Wrapper .OfficeCleaning .Texts p{
		background-color:rgba(20, 20, 197, 0.447);
		color: white;
		height: 15vh;
		width: 75vw;
		display: flex;
		align-items: center;
		padding: 3vw;
		font-weight: normal;
		font-size: 14px;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}
	
	
	/*MOVE IN */

	.Services .Container .Wrapper .MoveIn{
		width: 75vw;
		height: 80vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}


	.Services .Container .Wrapper .MoveIn .Main{
		display: flex;
		flex-direction: column;
		height: 58vh;
		width: 75vw;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}

	.Services .Container .Wrapper .MoveIn .Main h4{
		background-color:rgba(20, 20, 197, 0.777);
		color: white;
		height: 13vh;
		width: 75vw;
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: bold;
		font-size: 16px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
	
	.Services .Container .Wrapper .MoveIn .Main .Image{
		display: flex;
		justify-content: center;
		align-items: center;
		height: 45vh;	
		width: 75vw;
		border-top-right-radius: 0px;
		border-top-left-radius: 0px;
		
	}
	
	
	
	.Services .Container .Wrapper .MoveIn .Texts{
		width: 75vw;
		height: 17vh;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}
	
	
	
	.Services .Container .Wrapper .MoveIn .Texts p{
		background-color:rgba(20, 20, 197, 0.447);
		color: white;
		height: 15vh;
		width: 75vw;
		display: flex;
		align-items: center;
		padding: 3vw;
		font-weight: normal;
		font-size: 14px;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}
	

	
}



/*********MEDIA QUERY FOR MOBILE DEVICES************/

@media(max-width: 640px){
	
	.Services{
		display: flex;
		flex-direction: column;
		padding-top: 2vh;
		padding-bottom: 2vh;
		height: 250vh;
	}
	
	.Services h2{
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 25px;
		height: 10vh;
		margin-bottom: 2vh;
		color: white;
	}
	
	.Services .Container{
		height: 234vh;
	}
	
	.Services .Container .Wrapper{
		display: flex;
		flex-direction: column;
		gap: 2vw;
		justify-content: space-between;
		align-items: center;
		height: 234vh;
		width: 100vw;
		padding: 0vh 4vw 0vh 4vw;
	}
	
	.Services .Container .Wrapper .HomeCleaning{
		width: 60vw;
		height: 57vh;
		display: flex;
		padding-top: 2.5vh;
		padding-bottom: 2.5vh;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}


	.Services .Container .Wrapper .HomeCleaning .Main{
		display: flex;
		flex-direction: column;
		height: 37vh;
		width: 60vw;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}

	.Services .Container .Wrapper .HomeCleaning .Main h4{
		background-color:rgba(20, 20, 197, 0.777);
		color: white;
		height: 7vh;
		width: 60vw;
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: bold;
		font-size: 16px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
	
	.Services .Container .Wrapper .HomeCleaning .Main .Image{
		display: flex;
		justify-content: center;
		align-items: center;
		height: 30vh;	
		width: 60vw;
		border-top-right-radius: 0px;
		border-top-left-radius: 0px;
		
	}
	
	
	
	.Services .Container .Wrapper .HomeCleaning .Texts{
		width: 60vw;
		height: 15vh;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}
	
	
	
	.Services .Container .Wrapper .HomeCleaning .Texts p{
		background-color:rgba(20, 20, 197, 0.447);
		color: white;
		height: 15vh;
		width: 60vw;
		display: flex;
		align-items: center;
		padding: 3vw;
		font-weight: normal;
		font-size: 14px;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}
	




	/*POST CONSTRUCTION */

	.Services .Container .Wrapper .PostConstruction{
		width: 60vw;
		height: 57vh;
		display: flex;
		padding-top: 2.5vh;
		padding-bottom: 2.5vh;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}


	.Services .Container .Wrapper .PostConstruction .Main{
		display: flex;
		flex-direction: column;
		height: 37vh;
		width: 60vw;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}

	.Services .Container .Wrapper .PostConstruction .Main h4{
		background-color:rgba(20, 20, 197, 0.777);
		color: white;
		height: 7vh;
		width: 60vw;
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: bold;
		font-size: 16px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
	
	.Services .Container .Wrapper .PostConstruction .Main .Image{
		display: flex;
		justify-content: center;
		align-items: center;
		height: 30vh;	
		width: 60vw;
		border-top-right-radius: 0px;
		border-top-left-radius: 0px;
		
	}
	
	
	
	.Services .Container .Wrapper .PostConstruction .Texts{
		width: 60vw;
		height: 15vh;
		display: flex;
		flex-direction: column;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}
	
	
	
	.Services .Container .Wrapper .PostConstruction .Texts p{
		background-color:rgba(20, 20, 197, 0.447);
		color: white;
		height: 15vh;
		width: 60vw;
		display: flex;
		align-items: center;
		padding: 3vw;
		font-weight: normal;
		font-size: 14px;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}


	
	/*OFFICE CLEANING */

	.Services .Container .Wrapper .OfficeCleaning{
		width: 60vw;
		height: 57vh;
		display: flex;
		padding-top: 2.5vh;
		padding-bottom: 2.5vh;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}


	.Services .Container .Wrapper .OfficeCleaning .Main{
		display: flex;
		flex-direction: column;
		height: 37vh;
		width: 60vw;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}

	.Services .Container .Wrapper .OfficeCleaning .Main h4{
		background-color:rgba(20, 20, 197, 0.777);
		color: white;
		height: 7vh;
		width: 60vw;
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: bold;
		font-size:  16px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
	
	.Services .Container .Wrapper .OfficeCleaning .Main .Image{
		display: flex;
		justify-content: center;
		align-items: center;
		height: 30vh;	
		width: 60vw;
		border-top-right-radius: 0px;
		border-top-left-radius: 0px;
		
	}
	
	
	
	.Services .Container .Wrapper .OfficeCleaning .Texts{
		width: 60vw;
		height: 15vh;
		display: flex;
		flex-direction: column;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}
	
	
	
	.Services .Container .Wrapper .OfficeCleaning .Texts p{
		background-color:rgba(20, 20, 197, 0.447);
		color: white;
		height: 15vh;
		width: 60vw;
		display: flex;
		align-items: center;
		padding: 3vw;
		font-weight: normal;
		font-size: 14px;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}


	
	/*OFFICE CLEANING */

	.Services .Container .Wrapper .MoveIn{
		width: 60vw;
		height: 57vh;
		display: flex;
		padding-top: 2.5vh;
		padding-bottom: 2.5vh;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}


	.Services .Container .Wrapper .MoveIn .Main{
		display: flex;
		flex-direction: column;
		height: 37vh;
		width: 60vw;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}

	.Services .Container .Wrapper .MoveIn .Main h4{
		background-color:rgba(20, 20, 197, 0.777);
		color: white;
		height: 7vh;
		width: 60vw;
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: bold;
		font-size:  16px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
	
	.Services .Container .Wrapper .MoveIn .Main .Image{
		display: flex;
		justify-content: center;
		align-items: center;
		height: 30vh;	
		width: 60vw;
		border-top-right-radius: 0px;
		border-top-left-radius: 0px;
		
	}
	
	
	
	.Services .Container .Wrapper .MoveIn .Texts{
		width: 60vw;
		height: 15vh;
		display: flex;
		flex-direction: column;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}
	
	
	
	.Services .Container .Wrapper .MoveIn .Texts p{
		background-color:rgba(20, 20, 197, 0.447);
		color: white;
		height: 15vh;
		width: 60vw;
		display: flex;
		align-items: center;
		padding: 3vw;
		font-weight: normal;
		font-size: 14px;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}


	
}